.heading{
    font-size: 23px;
    width: 100%;
    margin:0px;
    box-shadow:5px 5px 25px blue;
}

.heading_div{
    float: none;
    background:cadetblue;
    padding:14px;
    border-radius:20px;
    color:red;
    box-shadow:5px 5px 5px blue;
}

.heading_div2{
    font-size:20px;
}